/*helpers*/
.mb-15 {
    margin-bottom: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.m-btn {
    border: 1px solid #fff;
    display: inline-block;
    /*    outline:inherit ;*/
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    background-color: rgb(44, 73, 156);
    font-weight: bold;
    text-transform: uppercase;
    transition: all 0.3s linear;
    margin-top: 30px;
}

.m-btn:hover {
    /*    border-radius: 8%;*/
    color: rgb(44, 73, 156);
    background-color: #fff;


}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    color: rgb(44, 73, 156);
    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 50px;
    line-height: 50px;
    border: 1px solid rgba(44, 73, 156);
    border-radius: 50%;
    font-weight: bold;
    margin: 0 15px;
    transition: all 0.5s ease-out;
}

.social-icons a:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(44, 73, 156, 0.4);
    border: 1px solid rgb(255, 255, 255);
    transform: rotate(360deg);
}



/*Font Styles*/

body {
    font-family: 'Josefin Sans', Arial, sans-serif;
    font-size: 1rem;
    color: #3c3b3b;
    /*    margin: 0;*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-weight: bold;
}

p {
    font-family: 'Open Sans', Arial, sans-serif;
}

/*Navigation Start*/

nav#main-nav {
    padding: 0;
    background-color: transparent;
    z-index: 100000;
}

nav#main-nav.changeColor {
    background-color: rgba(44, 73, 156, 0.98);
}

nav#main-nav div li a {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    background-color: transparent;
    padding: 10px 22px;
    /*    margin-right: 15px;*/
    transition: color 0.2s ease-in;
}

nav#main-nav div li a:hover,
nav#main-nav div li a.activeMenu {
    background-color: rgb(89, 106, 156);
}

nav#main-nav div ul li.dropdown-main {
    margin: 0;
    padding: 0;
    background-color: transparent;
    /*    transition: all 0.2 ease-in;*/
}

nav#main-nav div li div.dropdown-content {
    display: none;
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: transparent;
    min-width: 160px;
    box-shadow: -11px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav#main-nav div li div.dropdown-content a {
    padding: 8px 12px;
    text-align: left;
}

nav#main-nav div li div.dropdown-content a:hover {
    background-color: rgb(44, 73, 156);
}

nav#main-nav div ul li.dropdown-main:hover div.dropdown-content {
    display: block;
}


/*Navigation End*/

/*Header Start*/

header#header {
    height: 100vh;
    background-image: url(../img/kazuend-1600_8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header#header div {
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

header#header div h1,
header#header div h2,
header#header div p {
    margin-bottom: 15px;
}

header#header div h1,
header#header div h2 {
    width: auto;
    white-space: nowrap;
}

header#header div h1,
header#header div h2 {
    display: inline-block;
}

/*
header#header div h2 {
    animation-delay: 1.2s;
}
*/

/*Header animation*/
.typingHeader {
    animation: typing 4s steps(40, end),
        blink-caret 1.2s step-end;
    overflow: hidden;
    border-right: .15em solid orange;
    margin: 0 auto;
    letter-spacing: .1em;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    40% {
        border-color: orange;
    }
}

@keyframes typing {
    from {
        max-width: 0
    }

    to {
        max-width: 100%
    }
}

.typingHeader2 {
    animation: typing 1.3s 1s steps(19, end),
        blink-caret 1.2s step-end infinite;
    overflow: hidden;
}

/*Header End*/


/*Section About me Start*/

section#about-me {
    height: 100%;
    background-image: linear-gradient(rgba(44, 73, 156, 0.4), rgba(44, 73, 156, 0.4)),
        url('../img/Optimized-b&w.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section#about-me div.about-content {
    padding: 20% 3%;
    position: relative;
    height: 100%;
    /*    transform: translateY(35%);*/
    /*    padding-left: 30px;*/

}


section#about-me div p,
section#about-me div h2 {
    color: rgba(255, 255, 255, 0.9);
}

section#about-me div p {
    padding-bottom: 25px;
    line-height: 2.4rem;
    padding: 10px;
    font-size: 1.4rem;
    text-align: center;

}

section#about-me div button {
    line-height: 40px;
    padding: 0 40px;
    margin-right: 10px;
}

/*Section About me End*/


/*Section Skills Start*/
#skills {
    background-color: #e2e2e2;
    color: #000000;
    padding-bottom: 20px;
}

#skills h2 {
    padding: 60px 0 10px;
}

#skills h3 {
    margin-top: 30px;
    padding: 0 0 8px;
}

#skills .line-under {
    width: 140px;
    height: 4px;
    background: rgb(44, 73, 156);
    text-align: center;
    margin: 0 auto 25px;
}

#skills .skills-border {
    padding-bottom: 40px;
    border-bottom-style: ridge;

}

#skills .skills-icons figure {
    margin: 1rem auto;
}

#skills .skills-icons figure img,
#skills .skills-icons .icons-p {
    padding-top: 10px;
}

#skills .skills-icons figure i,
#skills .skills-icons p {
    line-height: 6rem;
    font-size: 4rem;
    font-weight: bold;
    height: 6rem;
    width: 6rem;
}

#skills div.skills-icons div.hover-icons {
    transition: all 0.4s ease-in-out;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
}

.hover-icons figure,
.hover-icons icons-p {
    transition: all 0.4s ease-in-out;
    transform: none;
    position: relative;
}

.hover-icons:hover figure,
.hover-icons:hover .icons-p {
    opacity: 0;
    transform: scale(1.4);
}

#skills .skills-icons .hover-icons:hover {
    background: rgba(44, 73, 156, 0.89);
    border: 1px solid rgb(67, 70, 116);
    border-radius: 0.30rem;
}


#skills .skills-icons p {
    transform: translateY(9%);
    height: 100%;
    font-size: 2.5rem;
    align-self: center;
    position: relative;
}

#skills .skills-icons .hover-icons p.icons-info {
    opacity: 1;
    font-size: 0.8rem;
    line-height: 1.1rem;
    text-align: inherit;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    transform: translateY(80%);
    color: transparent;
}

#skills .skills-icons .hover-icons:hover p.icons-info {
    transform: none;
    color: #e2e2e2;
    opacity: 1;

}

/*
#skills .skills-icons #sass > p {
    padding: 28px 10px;
}
*/
#skills .skills-icons #html > p {
    top: 20%;
}

#skills .skills-icons #css > p,
#skills .skills-icons #gulp > p,
#skills .skills-icons #wordpress > p {
    top: 25%;
}

#skills .skills-icons #js > p,
#skills .skills-icons #jquery > p,
#skills .skills-icons #sass > p,
#skills .skills-icons #git > p,
#skills .skills-icons #rwd > p.rwd {
    top: 20%;
}

#skills .skills-icons #react > p {
    top: 30%;
}

#skills .skills-icons #ajax > p.ajax {
    top: 25%;
}

@media (min-width:768px) and (max-width:991px) {

    #skills .skills-icons #js > p,
    #skills .skills-icons #css > p,
    #skills .skills-icons #jquery > p,
    #skills .skills-icons #sass > p,
    #skills .skills-icons #git > p,
    #skills .skills-icons #rwd > p.rwd,
    #skills .skills-icons #react > p {
        top: 30%;
    }

    #skills .skills-icons #html > p {
        top: 27%;
    }

    #skills .skills-icons #gulp > p {
        top: 35%;
    }

    #skills .skills-icons #ajax > p.ajax {
        top: 10%;
    }

    #skills .skills-icons #wordpress > p {
        top: 20%;
    }
}

@media (max-width:768px) {
    #skills .skills-icons .hover-icons p.icons-info{
/*        text-align: center;*/
    }
    #skills .skills-icons #ajax > p.ajax {
        top: 20%;
    }

    #skills .skills-icons #react > p {
        top: 35%;
    }

    #skills .skills-icons #wordpress > p {
        top: 30%;
    }
}



/*
@media (max-width:767px) {
    #skills .skills-icons #sass > p {
        padding: 12px;
    }
}


/*Animation Skills Start*/


.animate {
    opacity: 0;
    animation-duration: 0.8s;
}

#skills-header {
    animation-delay: 0.2s;
    animation-fill-mode: both;
}

.line-1 {
    animation-delay: 0.4s;
    animation-fill-mode: both;
}

.skills-about {
    animation-delay: 0.4s;
    animation-duration: 2.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
}

#html,
#css,
#js,
#jquery,
#sass,
#gulp,
#git,
#rwd {
    animation-delay: 0.2s;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

#skills-subheader {

    animation-delay: 1s;
    animation-fill-mode: both;
}

.line-2 {
    animation-delay: 1.1s;
    animation-fill-mode: both;
}


#react,
#ajax,
#wordpress {
    animation-delay: 0.4s;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-25%, 0, 0);
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translate3d(200%, 0, 0);
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInRight {
    animation-name: fadeInRight;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {

    animation-name: fadeIn;
}




@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -60%, 0);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInDown {
    opacity: 0;
    animation-name: fadeInDown;
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 60%, 0);
    }

    40% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}

/*Animation Skills End*/

/*Section Skills End*/


/*Section Contact Start*/
#contact {
    background-image: url(../img/map-of-the-world-2401458_1920.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#contact .container h3 {
    padding: 15% 0 0;
    text-shadow: 2px 4px 7px black, 0 0 1em #336590, 0 0 0.2em #0a150a;
    color: #e2e2e2;
}

#contact .container p {
    color: #e2e2e2;
    margin: 0;
    text-shadow: 2px 4px 7px black, 0 0 1em #336590, 0 0 0.2em #0a150a;
    color: #e2e2e2;
}

#contact .contact-about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 5% 5% 0;
    padding-bottom: 12%;
}

#contact .contact-about form {
    background-color: transparent;
    padding: 1% 1% 5%;
    width: 75%;
}

#contact .contact-about form .form-about {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    margin: 0;
    padding: 0;
    width: 100%;
}

#contact .contact-about form .form-about input[type='text'],
#contact .contact-about form .form-about input[type='email'],
#contact .contact-about .form-about textarea[name='message'],
#contact .contact-about .form-about button[type='submit'] {
    text-transform: inherit;
    font-size: 0.95rem;
    font-weight: 600;
    background-color: #e2e2e2;
    border: 1px solid #1d3f5d;
}

#contact .contact-about form .form-about label {
    text-align: left;
    color: #1d3f5d;
    margin: 15px 0 0;
    text-shadow: -1px -1px 0 #e2e2e2,
        1px -1px 0 #e2e2e2,
        -1px 1px 0 #e2e2e2,
        1px 1px 0 #e2e2e2;
}

#contact .contact-about form .form-about textarea {
    color: #1d3f5d;
    min-height: 170px;
    margin-bottom: 5px;
}

#contact .contact-about form .form-about input[type="text"]:focus,
#contact .contact-about form .form-about input[type="email"]:focus,
#contact .contact-about .form-about textarea[name="message"]:focus {
    background-color: #fff;
}

#contact .contact-about form .form-about button[type='submit'] {
    background-color: #1d3f5d;
    border: 1px solid #e2e2e2;
    color: #e2e2e2;
    align-self: flex-end;
    word-spacing: normal;
    letter-spacing: 1.2;
    transition: all 0.5 ease-in-out;
    margin: 5px 0 0 0;
    padding: 10px 30px;
    line-height: 1.4rem;
    text-transform: uppercase;
    width: 33%;
}

#contact .contact-about form .form-about button[type='submit']:hover {
    background-color: #e2e2e2;
    color: #1d3f5d;
    border: 1px solid #1d3f5d;
}

::placeholder {
    text-transform: uppercase;
}

/*Section Contact End*/

/*Section Footer Start*/
#footer {
    background-color: #e2e2e2;
}


#footer .icons-footer a {
    background-color: rgb(44, 106, 156);
    color: #fff;
    border: 1px solid #e2e2e2;
}

#footer .icons-footer a:hover {
    color: rgb(44, 106, 156);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(44, 106, 156);
}



@media (min-width: 1200px) {
    header#header {
        background-image: url(../img/kazuend-1920_6.jpg);
    }
}

@media (min-width:768px) {
    html {
        font-size: 16px;
    }

    nav#main-nav {
        height: 50px;
    }

    nav#main-nav div ul.ul-height {
        max-height: 50px;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 12px;
    }

    header#header {
        background-image: url(../img/kazuend-1024_6.jpg);
    }

    nav#main-nav:hover {
        background-color: rgba(44, 73, 156, 0.98);

    }

    nav#main-nav div li a {
        background-color: rgba(44, 73, 156, 0.98);
        text-align: center;
        font-size: 18px;
    }

    nav#main-nav div li div.dropdown-content {
        width: 100%;
    }

    nav#main-nav div li div.dropdown-content a {
        text-align: center;
        font-size: 16px;

    }

    nav#main-nav div li div.dropdown-content a:hover {
        background-color: rgb(89, 106, 156);

    }

    #contact .contact-about form .form-about button[type='submit'] {
        padding: 5px;
    }

    @media (max-width:350px) {
        .social-icons a {
            height: 40px;
            width: 40px;
            line-height: 40px;
        }
    }
